<main class="form-signin">
    <form action="{{loginRoute}}" method="post">
        <div class="mb-4 text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-heptagon-half" viewBox="0 0 16 16">
                <path
                    d="M7.779.052a.5.5 0 0 1 .442 0l6.015 2.97a.5.5 0 0 1 .267.34l1.485 6.676a.5.5 0 0 1-.093.415l-4.162 5.354a.5.5 0 0 1-.395.193H4.662a.5.5 0 0 1-.395-.193L.105 10.453a.5.5 0 0 1-.093-.415l1.485-6.676a.5.5 0 0 1 .267-.34L7.779.053zM8 15h3.093l3.868-4.975-1.383-6.212L8 1.058V15z" />
            </svg>
        </div>

        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <h1 class="h3 mb-3 fw-normal">{{handler}}</h1>
        {{> _error}}
        {{> _success}}
        <div class="form-floating mb-1">
            <input type="text" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div id="email"></div>
        
        <div class="form-floating mb-2">
            <input type="password" name="password" class="form-control m-0" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div id="password"></div>
        
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        {{#if (checkHandler handler)}}{{else}}
        <a href="/signup" class="text-primary" >Create new account</a>
        {{/if}}
        <p class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
</main>