.bd-placeholder-img{
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a, button, button:hover, button:focus{
    text-decoration: none;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.navbar{
    transition: all 0.3s ease;
}